.property-cards {
  padding: 2rem;
  /* background: #eeeeee; */
  box-shadow: 11px 11px 22px #dadada, -11px -11px 22px #ffffff;
}

.add-img {
  border-radius: 10px;
  background: #f4f4f5;
}

.description {
  border: 0 solid #e5e7eb;
}
